In [9]:
studentSubjectRec = []
AllStudPerformanceRec = []
studperformanceRecord = []

In [55]:
subjectRecList=[]

In [60]:
##### Logic Input students and quiz

# def studentSUJRes():
studentName = input('Enter student Name: ')
studID = input('ID: ')

Bioquiz = int(input('biology quiz Score: '))
Chemquiz =int(input('chemistry quiz Score: '))
Phyquiz = int(input('physics quiz Score: '))
Mathquiz = int(input('mathematics quiz Score: '))   

BioHW = int(input('biology HW Score: '))
ChemHW =int(input('chemistry HW Score: '))
PhyHW = int(input('physics HW Score: '))
MathHW = int(input('mathematics HW Score: '))

BioClN = int(input('biology class attendace Score: '))
ChemClN =int(input('chemistry class attendace Score: '))
PhyClN = int(input('physics class attendace Score: '))
MathClN = int(input('mathematics class attendace Score: '))


BioExam = int(input('biology Exam Score: '))
ChemExam =int(input('chemistry Exam Score: '))
PhyExam = int(input('physics Exam Score: '))
MathExam = int(input('mathematics Exam Score: '))

Enter student Name: Vera Abutu
ID: GR-0485
biology quiz Score: 112
chemistry quiz Score: 51
physics quiz Score: 61
mathematics quiz Score: 74
biology HW Score: 105
chemistry HW Score: 102
physics HW Score: 55
mathematics HW Score: 50
biology class attendace Score: 71
chemistry class attendace Score: 96
physics class attendace Score: 83
mathematics class attendace Score: 93
biology Exam Score: 51
chemistry Exam Score: 24
physics Exam Score: 98
mathematics Exam Score: 94

In [ ]:
# studentSUJRes()

In [ ]:
# Bett James	GR-0483	127	184	52	133	135	186	142	97	17	58	29	34	46	97	73	45
# Namukolo Abrams	GR-0484	141	177	21	136	82	170	12	180	95	57	43	48	52	41	31	31

In [61]:
# calculator

quizTotal = 190
HWTotal = 190
ClNTotal = 96
ExamTotal = 100
TotalScore = 100

BioAvrge = round(((Bioquiz/quizTotal)*30) + ((BioHW/HWTotal)*15) + ((BioClN/ClNTotal)*12) \
          + ((BioExam/ExamTotal)*43),2)

chemAvrge = round(((Chemquiz/quizTotal)*30) + ((ChemHW/HWTotal)*15) + ((ChemClN/ClNTotal)*12) \
          + ((ChemExam/ExamTotal)*43),2)

phyAvrge = round(((Phyquiz/quizTotal)*30) + ((PhyHW/HWTotal)*15) + ((PhyClN/ClNTotal)*12) \
          + ((PhyExam/ExamTotal)*43),2)


mathAvrge = round(((Mathquiz/quizTotal)*30) + ((MathHW/HWTotal)*15) + ((MathClN/ClNTotal)*12) \
          + ((MathExam/ExamTotal)*43),2)

In [62]:
AverageScore = round((chemAvrge + BioAvrge + phyAvrge + mathAvrge)/4,3)

In [63]:
# def grading(AverageScore,TotalScore):
GPA = round((AverageScore/TotalScore)*5,2)

In [64]:
GPA

2.87

In [65]:
# Grading

def grading(AverageScore):
    GradeList = ['A','B','C','D','E','F']

    if AverageScore >90:
         return GradeList[0]
        
    elif AverageScore >75 and AverageScore < 90:
        return GradeList[1]

    elif AverageScore >64 and AverageScore < 75:
        return GradeList[2]

    elif AverageScore >54 and AverageScore < 65:
        return GradeList[3]

    elif AverageScore >49 and AverageScore < 55:
        return GradeList[4]

    else:
        return GradeList[5]

In [66]:
def status(AverageScore):
    statusList = ['Pass','Retake','Fail']
    
    if AverageScore >90:
        return statusList[0]
    
    elif AverageScore >75 and AverageScore < 90:
        return statusList[0]

    elif AverageScore >64 and AverageScore < 75:
        return statusList[0]

    elif AverageScore >54 and AverageScore < 65:
        return statusList[0]

    elif AverageScore >49 and AverageScore < 55:
        return statusList[1]

    else:
        return statusList[2]
    
grade = grading(AverageScore)
status =status(AverageScore)

In [67]:
grade

'D'

In [68]:
status

'Pass'

In [ ]:
#studperformanceRecord

In [69]:
fullstudperformanceRecord  ={"studentName":studentName, 'studID':studID, "AvgScore": AverageScore, "GPA":GPA,\
                        "Grade": grade, "status": status}
studperformanceRecord.append(fullstudperformanceRecord)

In [70]:
fullstudperformanceRecord

{'studentName': 'Vera Abutu',
 'studID': 'GR-0485',
 'AvgScore': 57.345,
 'GPA': 2.87,
 'Grade': 'D',
 'status': 'Pass'}

In [71]:
# Each student's performance records
studentRecords = {"Name":studentName, 'ID':studID,
                 "Biology":{"Quiz":Bioquiz, "HW":BioHW, "ClN":BioClN, "Exam":BioExam, "BioAvg":BioAvrge},\
                 "Chemistry":{"Quiz":Chemquiz, "HW":ChemHW, "ClN":ChemClN, "Exam":ChemExam, "ChemAvg":chemAvrge},\
                 "Physics":{"Quiz":Phyquiz, "HW":PhyHW, "ClN":PhyClN, "Exam":PhyExam, "ChemAvg":phyAvrge},\
                 "Mathematics":{"Quiz":Mathquiz, "HW":MathHW, "ClN":MathClN, "Exam":MathExam, "ChemAvg":mathAvrge}}

studentSubjectRec.append(studentRecords)

In [72]:
studentRecords

{'Name': 'Vera Abutu',
 'ID': 'GR-0485',
 'Biology': {'Quiz': 112, 'HW': 105, 'ClN': 71, 'Exam': 51, 'BioAvg': 56.78},
 'Chemistry': {'Quiz': 51, 'HW': 102, 'ClN': 96, 'Exam': 24, 'ChemAvg': 38.43},
 'Physics': {'Quiz': 61, 'HW': 55, 'ClN': 83, 'Exam': 98, 'ChemAvg': 66.49},
 'Mathematics': {'Quiz': 74,
  'HW': 50,
  'ClN': 93,
  'Exam': 94,
  'ChemAvg': 67.68}}

In [73]:
subjectRec = {"Chemistry": {studentName:{"Quiz":Chemquiz, "HW":ChemHW, "ClN":ChemClN, "Exam":ChemExam, "ChemAvg":chemAvrge },\
                           },
             "Biology":{studentName:{"Quiz":Bioquiz, "HW":BioHW, "ClN":BioClN, "Exam":BioExam, "BioAvg":BioAvrge}},\
             "Physics": {studentName: {"Quiz":Phyquiz, "HW":PhyHW, "ClN":PhyClN, "Exam":PhyExam, "ChemAvg":phyAvrge}},\
             "Mathematics":{studentName: {"Quiz":Mathquiz, "HW":MathHW, "ClN":MathClN, "Exam":MathExam, "ChemAvg":mathAvrge}}}

subjectRecList.append(subjectRec)

In [74]:
subjectRec

{'Chemistry': {'Vera Abutu': {'Quiz': 51,
   'HW': 102,
   'ClN': 96,
   'Exam': 24,
   'ChemAvg': 38.43}},
 'Biology': {'Vera Abutu': {'Quiz': 112,
   'HW': 105,
   'ClN': 71,
   'Exam': 51,
   'BioAvg': 56.78}},
 'Physics': {'Vera Abutu': {'Quiz': 61,
   'HW': 55,
   'ClN': 83,
   'Exam': 98,
   'ChemAvg': 66.49}},
 'Mathematics': {'Vera Abutu': {'Quiz': 74,
   'HW': 50,
   'ClN': 93,
   'Exam': 94,
   'ChemAvg': 67.68}}}

In [75]:
# All students Record
AllStudPerRec = {"Name":studentName, 'ID':studID,
            "Bio Quiz":Bioquiz, "Chem Quiz":Chemquiz, "Phy Quiz":Phyquiz, "Math Quiz":Mathquiz,\
            "Bio Hw":BioHW, "Chem Hw":ChemHW, "Phy Hw":PhyHW, "Math Hw":MathHW,\
            "Bio Attnd":BioClN, "Chem Attnd":ChemClN, "Phy Attnd":PhyClN, "Math Attnd":MathClN,\
            "Bio Exam":BioExam, "Chem Exam":ChemExam, "Phy Exam":PhyExam, "Math Exam":MathExam,
            "Bio Avg":BioAvrge, "Chem Avg":chemAvrge, "Phy Avg":phyAvrge, "Math Avg":mathAvrge,\
             "Avg Score":AverageScore, "GPA":GPA, "Grade":grade, "status":status}
             
AllStudPerformanceRec.append(AllStudPerRec)

In [76]:
AllStudPerRec

{'Name': 'Vera Abutu',
 'ID': 'GR-0485',
 'Bio Quiz': 112,
 'Chem Quiz': 51,
 'Phy Quiz': 61,
 'Math Quiz': 74,
 'Bio Hw': 105,
 'Chem Hw': 102,
 'Phy Hw': 55,
 'Math Hw': 50,
 'Bio Attnd': 71,
 'Chem Attnd': 96,
 'Phy Attnd': 83,
 'Math Attnd': 93,
 'Bio Exam': 51,
 'Chem Exam': 24,
 'Phy Exam': 98,
 'Math Exam': 94,
 'Bio Avg': 56.78,
 'Chem Avg': 38.43,
 'Phy Avg': 66.49,
 'Math Avg': 67.68,
 'Avg Score': 57.345,
 'GPA': 2.87,
 'Grade': 'D',
 'status': 'Pass'}

In [93]:
print(studentSubjectRec)
print(fullstudperformanceRecord)
print(AllStudPerformanceRec)

[{'Name': 'Bett James', 'ID': 'GR-0438', 'Biology': {'Quiz': 184, 'HW': 186, 'ClN': 58, 'Exam': 97, 'BioAvg': 92.7}, 'Chemistry': {'Quiz': 127, 'HW': 135, 'ClN': 17, 'Exam': 46, 'ChemAvg': 52.62}, 'Physics': {'Quiz': 52, 'HW': 142, 'ClN': 29, 'Exam': 73, 'ChemAvg': 54.44}, 'Mathematics': {'Quiz': 133, 'HW': 97, 'ClN': 34, 'Exam': 45, 'ChemAvg': 52.26}}, {'Name': 'Namukolo Abrams', 'ID': 'GR-0484', 'Biology': {'Quiz': 177, 'HW': 170, 'ClN': 57, 'Exam': 41, 'BioAvg': 66.12}, 'Chemistry': {'Quiz': 141, 'HW': 82, 'ClN': 95, 'Exam': 52, 'ChemAvg': 62.97}, 'Physics': {'Quiz': 21, 'HW': 12, 'ClN': 43, 'Exam': 31, 'ChemAvg': 22.97}, 'Mathematics': {'Quiz': 136, 'HW': 180, 'ClN': 48, 'Exam': 31, 'ChemAvg': 55.01}}, {'Name': 'Vera Abutu', 'ID': 'GR-0485', 'Biology': {'Quiz': 112, 'HW': 105, 'ClN': 71, 'Exam': 51, 'BioAvg': 56.78}, 'Chemistry': {'Quiz': 51, 'HW': 102, 'ClN': 96, 'Exam': 24, 'ChemAvg': 38.43}, 'Physics': {'Quiz': 61, 'HW': 55, 'ClN': 83, 'Exam': 98, 'ChemAvg': 66.49}, 'Mathematics': {'Quiz': 74, 'HW': 50, 'ClN': 93, 'Exam': 94, 'ChemAvg': 67.68}}]
{'studentName': 'Vera Abutu', 'studID': 'GR-0485', 'AvgScore': 57.345, 'GPA': 2.87, 'Grade': 'D', 'status': 'Pass'}
[{'Name': 'Bett James', 'ID': 'GR-0438', 'Bio Quiz': 184, 'Chem Quiz': 127, 'Phy Quiz': 52, 'Math Quiz': 133, 'Bio Hw': 186, 'Chem Hw': 135, 'Phy Hw': 142, 'Math Hw': 97, 'Bio Attnd': 58, 'Chem Attnd': 17, 'Phy Attnd': 29, 'Math Attnd': 34, 'Bio Exam': 97, 'Chem Exam': 46, 'Phy Exam': 73, 'Math Exam': 45, 'Bio Avg': 92.7, 'Chem Avg': 52.62, 'Phy Avg': 54.44, 'Math Avg': 52.26, 'Avg Score': 63.005, 'GPA': 3.15, 'Grade': 'D', 'status': 'Pass'}, {'Name': 'Namukolo Abrams', 'ID': 'GR-0484', 'Bio Quiz': 177, 'Chem Quiz': 141, 'Phy Quiz': 21, 'Math Quiz': 136, 'Bio Hw': 170, 'Chem Hw': 82, 'Phy Hw': 12, 'Math Hw': 180, 'Bio Attnd': 57, 'Chem Attnd': 95, 'Phy Attnd': 43, 'Math Attnd': 48, 'Bio Exam': 41, 'Chem Exam': 52, 'Phy Exam': 31, 'Math Exam': 31, 'Bio Avg': 66.12, 'Chem Avg': 62.97, 'Phy Avg': 22.97, 'Math Avg': 55.01, 'Avg Score': 51.767, 'GPA': 2.59, 'Grade': 'E', 'status': 'Retake'}, {'Name': 'Vera Abutu', 'ID': 'GR-0485', 'Bio Quiz': 112, 'Chem Quiz': 51, 'Phy Quiz': 61, 'Math Quiz': 74, 'Bio Hw': 105, 'Chem Hw': 102, 'Phy Hw': 55, 'Math Hw': 50, 'Bio Attnd': 71, 'Chem Attnd': 96, 'Phy Attnd': 83, 'Math Attnd': 93, 'Bio Exam': 51, 'Chem Exam': 24, 'Phy Exam': 98, 'Math Exam': 94, 'Bio Avg': 56.78, 'Chem Avg': 38.43, 'Phy Avg': 66.49, 'Math Avg': 67.68, 'Avg Score': 57.345, 'GPA': 2.87, 'Grade': 'D', 'status': 'Pass'}]

In [78]:
print(subjectRecList)

[{'Chemistry': {'Namukolo Abrams': {'Quiz': 141, 'HW': 82, 'ClN': 95, 'Exam': 52, 'ChemAvg': 62.97}}, 'Biology': {'Namukolo Abrams': {'Quiz': 177, 'HW': 170, 'ClN': 57, 'Exam': 41, 'BioAvg': 66.12}}, 'Physics': {'Namukolo Abrams': {'Quiz': 21, 'HW': 12, 'ClN': 43, 'Exam': 31, 'ChemAvg': 22.97}}, 'Mathematics': {'Namukolo Abrams': {'Quiz': 136, 'HW': 180, 'ClN': 48, 'Exam': 31, 'ChemAvg': 55.01}}}, {'Chemistry': {'Vera Abutu': {'Quiz': 51, 'HW': 102, 'ClN': 96, 'Exam': 24, 'ChemAvg': 38.43}}, 'Biology': {'Vera Abutu': {'Quiz': 112, 'HW': 105, 'ClN': 71, 'Exam': 51, 'BioAvg': 56.78}}, 'Physics': {'Vera Abutu': {'Quiz': 61, 'HW': 55, 'ClN': 83, 'Exam': 98, 'ChemAvg': 66.49}}, 'Mathematics': {'Vera Abutu': {'Quiz': 74, 'HW': 50, 'ClN': 93, 'Exam': 94, 'ChemAvg': 67.68}}}]

In [94]:
import pandas as pd
df = pd.DataFrame(AllStudPerformanceRec)

In [95]:
#  we just need to balance this table
df

,Name,ID,Bio Quiz,Chem Quiz,Phy Quiz,Math Quiz,Bio Hw,Chem Hw,Phy Hw,Math Hw,...,Phy Exam,Math Exam,Bio Avg,Chem Avg,Phy Avg,Math Avg,Avg Score,GPA,Grade,status
0,Bett James,GR-0438,184,127,52,133,186,135,142,97,...,73,45,92.70,52.62,54.44,52.26,63.005,3.15,D,Pass
1,Namukolo Abrams,GR-0484,177,141,21,136,170,82,12,180,...,31,31,66.12,62.97,22.97,55.01,51.767,2.59,E,Retake
2,Vera Abutu,GR-0485,112,51,61,74,105,102,55,50,...,98,94,56.78,38.43,66.49,67.68,57.345,2.87,D,Pass

In [ ]:
AllStudPerformanceRec['status']

In [97]:
df1 = df.set_index("Name")

print(df1)

                      ID  Bio Quiz  Chem Quiz  Phy Quiz  Math Quiz  Bio Hw  \
Name
Bett James       GR-0438       184        127        52        133     186
Namukolo Abrams  GR-0484       177        141        21        136     170
Vera Abutu       GR-0485       112         51        61         74     105

                 Chem Hw  Phy Hw  Math Hw  Bio Attnd  ...  Phy Exam  \
Name                                                  ...
Bett James           135     142       97         58  ...        73
Namukolo Abrams       82      12      180         57  ...        31
Vera Abutu           102      55       50         71  ...        98

                 Math Exam  Bio Avg  Chem Avg  Phy Avg  Math Avg  Avg Score  \
Name
Bett James              45    92.70     52.62    54.44     52.26     63.005
Namukolo Abrams         31    66.12     62.97    22.97     55.01     51.767
Vera Abutu              94    56.78     38.43    66.49     67.68     57.345

                  GPA  Grade  status
Name
Bett James       3.15      D    Pass
Namukolo Abrams  2.59      E  Retake
Vera Abutu       2.87      D    Pass

[3 rows x 25 columns]

In [98]:
df1

,ID,Bio Quiz,Chem Quiz,Phy Quiz,Math Quiz,Bio Hw,Chem Hw,Phy Hw,Math Hw,Bio Attnd,...,Phy Exam,Math Exam,Bio Avg,Chem Avg,Phy Avg,Math Avg,Avg Score,GPA,Grade,status
Name,,,,,,,,,,,,,,,,,,,,,
Bett James,GR-0438,184,127,52,133,186,135,142,97,58,...,73,45,92.70,52.62,54.44,52.26,63.005,3.15,D,Pass
Namukolo Abrams,GR-0484,177,141,21,136,170,82,12,180,57,...,31,31,66.12,62.97,22.97,55.01,51.767,2.59,E,Retake
Vera Abutu,GR-0485,112,51,61,74,105,102,55,50,71,...,98,94,56.78,38.43,66.49,67.68,57.345,2.87,D,Pass

In [106]:
BL = df1.loc[["Bett James"]]

print(BL)

                 ID  Bio Quiz  Chem Quiz  Phy Quiz  Math Quiz  Bio Hw  \
Name
Bett James  GR-0438       184        127        52        133     186

            Chem Hw  Phy Hw  Math Hw  Bio Attnd  ...  Phy Exam  Math Exam  \
Name                                             ...
Bett James      135     142       97         58  ...        73         45

            Bio Avg  Chem Avg  Phy Avg  Math Avg  Avg Score   GPA  Grade  \
Name
Bett James     92.7     52.62    54.44     52.26     63.005  3.15      D

            status
Name
Bett James    Pass

[1 rows x 25 columns]

In [107]:
BL

,ID,Bio Quiz,Chem Quiz,Phy Quiz,Math Quiz,Bio Hw,Chem Hw,Phy Hw,Math Hw,Bio Attnd,...,Phy Exam,Math Exam,Bio Avg,Chem Avg,Phy Avg,Math Avg,Avg Score,GPA,Grade,status
Name,,,,,,,,,,,,,,,,,,,,,
Bett James,GR-0438,184,127,52,133,186,135,142,97,58,...,73,45,92.7,52.62,54.44,52.26,63.005,3.15,D,Pass